@page "/card-actions"

<div class="column-layout card-actions-container">
    <div class="row-layout cards">
        <IgbCard Outlined="true" class="card" card-actions-scope>
            <IgbCardMedia class="media-content" card-actions-scope>
                <img src="assets/theme-light.svg" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Card Title
                </h3>
                <h5 slot="subtitle">
                    This is the card subtitle
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card-actions-scope>
                <IgbButton Variant="ButtonVariant.Flat" class="button" card-actions-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" card-actions-scope>
            <IgbCardMedia class="media-content" card-actions-scope>
                <img src="assets/theme-dark.svg" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Card Title
                </h3>
                <h5 slot="subtitle">
                    This is the card subtitle
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card-actions-scope>
                <IgbButton Variant="ButtonVariant.Flat" class="button" card-actions-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" card-actions-scope>
            <IgbCardMedia class="media-content" card-actions-scope>
                <img src="assets/design system.png" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Card Title
                </h3>
                <h5 slot="subtitle">
                    This is the card subtitle
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card-actions-scope>
                <IgbButton Variant="ButtonVariant.Flat" class="button" card-actions-scope>
                    Button
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
        <IgbCard Outlined="true" class="card" card-actions-scope>
            <IgbCardMedia class="media-content" card-actions-scope>
                <img src="assets/design system.png" class="image" />
            </IgbCardMedia>
            <IgbCardHeader>
                <h3 slot="title">
                    Card Title
                </h3>
                <h5 slot="subtitle">
                    This is the card subtitle
                </h5>
            </IgbCardHeader>
            <IgbCardActions class="actions-content" card-actions-scope>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" card-actions-scope>
                    READ
                    <IgbRipple></IgbRipple>
                </IgbButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" card-actions-scope>
                    <span class="material-icons">
                        share
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </IgbCardActions>
        </IgbCard>
    </div>
    <div class="column-layout group">
        <h6 class="h6">
            Both issues REPRODUCED IN: Blazor and Web Components generated apps
        </h6>
        <div class="row-layout group_1">
            <p class="typography__subtitle-1 text">
                If the positioning of the actions is reversed, when generated, Web Comp. and Blazor reverses them back to the original place.
            </p>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" card-actions-scope>
                BUG CREATED
            </IgbBadge>
        </div>
        <div class="row-layout group_1">
            <p class="typography__subtitle-1 text">
                Action icons look justified, instead of being aligned to the left or right
            </p>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" card-actions-scope>
                BUG CREATED
            </IgbBadge>
        </div>
    </div>
</div>

@code {
}
