.column-layout {
    display: flex;
    flex-direction: column;
}
.list-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
}
.container {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 32px;
    position: relative;
    padding: 24px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.list {
    height: max-content;
}
.avatar {
    --background: none;
    --ig-gray-400: transparent;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #D3D3D3;
}
.icon_1 {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #FBA748;
}
