@page "/list"

<div class="column-layout list-container">
    <div class="column-layout container">
        <IgbList class="list" list-scope>
            <IgbListHeader>Contacts</IgbListHeader>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar3.png" Shape="AvatarShape.Circle" class="avatar" list-scope></IgbAvatar>
                </div>
                <div slot="title">Terrance Orta</div>
                <div slot="subtitle">123-456-7890</div>
                <div slot="end">
                    <span class="material-icons icon">
                        star
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar13.png" Shape="AvatarShape.Circle" class="avatar" list-scope></IgbAvatar>
                </div>
                <div slot="title">Richard Mahoney</div>
                <div slot="subtitle">123-456-7890</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        star
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar1.png" Shape="AvatarShape.Circle" class="avatar" list-scope></IgbAvatar>
                </div>
                <div slot="title">Donna Price</div>
                <div slot="subtitle">123-456-7890</div>
                <div slot="end">
                    <span class="material-icons icon">
                        star
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar5.png" Shape="AvatarShape.Circle" class="avatar" list-scope></IgbAvatar>
                </div>
                <div slot="title">Lisa Landers</div>
                <div slot="subtitle">123-456-7890</div>
                <div slot="end">
                    <span class="material-icons icon">
                        star
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle" class="avatar" list-scope></IgbAvatar>
                </div>
                <div slot="title">Dorothy H. Spencer</div>
                <div slot="subtitle">123-456-7890</div>
                <div slot="end">
                    <span class="material-icons icon_1">
                        star
                    </span>
                </div>
            </IgbListItem>
        </IgbList>
    </div>
</div>

@code {
}
