@page "/navigation-bar"

<div class="column-layout navigation-bar-container">
    <div class="column-layout group">
        <IgbNavbar class="navbar" navigation-bar-scope>
            <h6>Screen Title</h6>
            <div slot="start">
                <IgbIconButton Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        menu
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </div>
            <IgbButton Variant="ButtonVariant.Flat" class="button" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <div slot="end">
                <IgbIconButton Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        search
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        favorite
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbIconButton Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        more_vert
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </div>
        </IgbNavbar>
        <IgbNavbar class="navbar_1" navigation-bar-scope>
            <h6>Navigation Bar Issues</h6>
            <div slot="start">
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" navigation-bar-scope>
                    <span class="material-icons">
                        menu
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
            </div>
            <IgbButton class="button button_1" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button button_2" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button button_3" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button button_4" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <div slot="end">
                <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" navigation-bar-scope>
                    <span class="material-icons">
                        notifications
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle" class="avatar" navigation-bar-scope></IgbAvatar>
            </div>
        </IgbNavbar>
        <IgbNavbar class="navbar_2" navigation-bar-scope>
            <h6>Navigation Bar Issues</h6>
            <IgbButton class="button button_5" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button button_6" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Disabled="true" class="button button_7" navigation-bar-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <div slot="end">
                <IgbIconButton Variant="IconButtonVariant.Flat">
                    <span class="material-icons">
                        notifications
                    </span>
                    <IgbRipple></IgbRipple>
                </IgbIconButton>
                <IgbAvatar Src="assets/Avatar2.png" Shape="AvatarShape.Circle" class="avatar" navigation-bar-scope></IgbAvatar>
            </div>
        </IgbNavbar>
    </div>
</div>

@code {
}
