@page "/rating"

<div class="column-layout rating-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <IgbRating Size="SizableComponentSize.Small" class="rating" rating-scope></IgbRating>
            <IgbRating Size="SizableComponentSize.Medium" class="rating" rating-scope></IgbRating>
            <IgbRating Size="SizableComponentSize.Large" class="rating" rating-scope></IgbRating>
        </div>
        <div class="row-layout group_1">
            <IgbRating Value="3" Size="SizableComponentSize.Small" class="rating" rating-scope></IgbRating>
            <IgbRating Value="3" Size="SizableComponentSize.Medium" class="rating" rating-scope></IgbRating>
            <IgbRating Value="3" Size="SizableComponentSize.Large" class="rating" rating-scope></IgbRating>
        </div>
        <div class="row-layout group_1">
            <IgbRating Label="Label" Value="3" Max="10" Size="SizableComponentSize.Small" class="rating" rating-scope></IgbRating>
            <IgbRating Label="Label" Value="3" Max="10" Size="SizableComponentSize.Medium" class="rating" rating-scope></IgbRating>
            <IgbRating Label="Label" Value="3" Max="10" Size="SizableComponentSize.Large" class="rating" rating-scope></IgbRating>
        </div>
        <div class="row-layout group_1">
            <IgbRating Value="3" Size="SizableComponentSize.Small" Disabled="true" class="rating" rating-scope></IgbRating>
            <IgbRating Value="3" Size="SizableComponentSize.Medium" Disabled="true" class="rating" rating-scope></IgbRating>
            <IgbRating Value="3" Size="SizableComponentSize.Large" Disabled="true" class="rating" rating-scope></IgbRating>
        </div>
    </div>
</div>

@code {
}
