@page "/button-group"

<div class="column-layout button-group-container">
    <div class="column-layout group">
        <span class="button-group">ButtonGroup not yet available in Blazor</span>
        <span class="button-group">ButtonGroup not yet available in Blazor</span>
        <span class="button-group">ButtonGroup not yet available in Blazor</span>
    </div>
    <div class="row-layout group">
        <span class="button-group_1">ButtonGroup not yet available in Blazor</span>
        <span class="button-group_1">ButtonGroup not yet available in Blazor</span>
        <span class="button-group_1">ButtonGroup not yet available in Blazor</span>
    </div>
</div>

@code {
}
