@page "/dialog"

<div class="column-layout dialog-container">
    <div class="column-layout group">
        <IgbButton class="user-input" dialog-scope>
            DIALOG JUST BUTTONS
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="user-input" dialog-scope>
            DIALOG WITH MIN WIDTH
            <IgbRipple></IgbRipple>
        </IgbButton>
        <div class="row-layout cards">
            <IgbCard Outlined="true" class="card" dialog-scope>
                <IgbCardMedia class="media-content" dialog-scope>
                    <img src="assets/theme-light.svg" class="image" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                        Card Title
                    </h3>
                    <h5 slot="subtitle">
                        This is the card subtitle
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dialog-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="user-input" dialog-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            favorite
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" dialog-scope>
                <IgbCardMedia class="media-content" dialog-scope>
                    <img src="assets/theme-dark.svg" class="image" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                        Card Title
                    </h3>
                    <h5 slot="subtitle">
                        This is the card subtitle
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dialog-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="user-input" dialog-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            favorite
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                </IgbCardActions>
            </IgbCard>
            <IgbCard Outlined="true" class="card" dialog-scope>
                <IgbCardMedia class="media-content" dialog-scope>
                    <img src="assets/design system.png" class="image" />
                </IgbCardMedia>
                <IgbCardHeader>
                    <h3 slot="title">
                        Card Title
                    </h3>
                    <h5 slot="subtitle">
                        This is the card subtitle
                    </h5>
                </IgbCardHeader>
                <IgbCardActions class="actions-content" dialog-scope>
                    <IgbButton Variant="ButtonVariant.Flat" class="user-input" dialog-scope>
                        Button
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            favorite
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            share
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                </IgbCardActions>
            </IgbCard>
        </div>
    </div>
    <span class="dialog-min-width">Dialog not yet available in Blazor</span>
    <span class="dialog-min-width">Dialog not yet available in Blazor</span>
    <div class="column-layout group_2">
        <h6 class="h6">
            ISSUES
        </h6>
        <div class="row-layout group_3">
            <p class="typography__subtitle-1 text">
                The font of the title shown in AppBuilder preview doesnt match the generated font 
            </p>
            <h6 class="h6">
                REPRODUCED IN: Angular and Web Components generated apps
            </h6>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" dialog-scope>
                BUG CREATED
            </IgbBadge>
        </div>
        <div class="row-layout group_3">
            <p class="typography__subtitle-1 text">
                Action buttons dont have spacing between them
            </p>
            <h6 class="h6">
                REPRODUCED IN: AppBuilder Edit &amp; Preview
            </h6>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" dialog-scope>
                BUG CREATED
            </IgbBadge>
        </div>
        <div class="row-layout group_3">
            <p class="typography__subtitle-1 text">
                Dialog is cropped
            </p>
            <h6 class="h6">
                REPRODUCED IN: Web Components generated app
            </h6>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" dialog-scope>
                BUG CREATED
            </IgbBadge>
        </div>
    </div>
</div>

@code {
}
