@page "/floating-action-button"

<div class="row-layout floating-action-button-container">
    <div class="row-layout group">
        <IgbButton Variant="ButtonVariant.Fab" class="button" floating-action-button-scope>
            <span class="material-icons">
                edit
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Fab" class="button" floating-action-button-scope>
            <span>Like</span>
            <span class="material-icons">
                favorite
            </span>
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {
}
