.row-layout {
    display: flex;
}
.floating-action-button-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 24px;
    height: 100%;
}
.button {
    width: max-content;
    height: max-content;
}
