.column-layout {
    display: flex;
    flex-direction: column;
}
.input-group-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    overflow: auto;
    height: 100%;
}
.container {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 24px;
    position: relative;
    padding: 24px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
}
.group_1 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 80px;
    min-height: 50px;
}
.text {
    height: max-content;
    min-width: min-content;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.input {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
