@page "/input-group"

<div class="column-layout input-group-container">
    <div class="column-layout container">
        <div class="row-layout group">
            <div class="row-layout group_1">
                <p class="typography__subtitle-2 text">
                    Box
                </p>
            </div>
            <IgbInput Label="Label" Placeholder="and Placeholder" Outlined="false" class="input" input-group-scope>
                <span slot="prefix">
                    <span class="material-icons icon">
                        person
                    </span>
                </span>
            </IgbInput>
            <IgbInput @bind-value="value" Label="Task Name" Outlined="false" class="input" input-group-scope>
                <span slot="suffix">
                    <span class="material-icons icon">
                        clear
                    </span>
                </span>
            </IgbInput>
            <IgbInput @bind-value="value1" Label="Task Name" Disabled="true" Outlined="false" class="input" input-group-scope>
                <span slot="prefix">
                    <span class="material-icons icon">
                        person
                    </span>
                </span>
                <span slot="suffix">
                    <span class="material-icons icon">
                        clear
                    </span>
                </span>
            </IgbInput>
        </div>
        <div class="row-layout group">
            <div class="row-layout group_1">
                <p class="typography__subtitle-2 text">
                    Outline
                </p>
            </div>
            <IgbInput Label="Label" Placeholder="and Placeholder" Outlined="true" class="input" input-group-scope>
                <span slot="prefix">
                    <span class="material-icons icon">
                        person
                    </span>
                </span>
            </IgbInput>
            <IgbInput @bind-value="value" Label="Task Name" Outlined="true" class="input" input-group-scope>
                <span slot="suffix">
                    <span class="material-icons icon">
                        clear
                    </span>
                </span>
            </IgbInput>
            <IgbInput @bind-value="value1" Label="Task Name" Disabled="true" Outlined="true" class="input" input-group-scope>
                <span slot="prefix">
                    <span class="material-icons icon">
                        person
                    </span>
                </span>
                <span slot="suffix">
                    <span class="material-icons icon">
                        clear
                    </span>
                </span>
            </IgbInput>
        </div>
    </div>
</div>

@code {
    private string value = "With content";
    private string value1 = "Disabled";
}
