@page "/space-between"

<div class="column-layout space-between-container">
    <div class="column-layout group">
        <div class="row-layout group_1">
            <IgbButton class="button" space-between-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => _dropdown2!.ToggleAsync(_button2))" @ref="_button2" class="button" space-between-scope>
                <span>With dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="_dropdown2" class="dropdown" space-between-scope>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
        <div class="row-layout group_1">
            <IgbButton class="button" space-between-scope>
                Button
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="button" space-between-scope>
                <span>Without dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="column-layout group_2">
        <h6 class="h6">
            ISSUES
        </h6>
        <div class="row-layout group_3">
            <p class="typography__subtitle-1 text">
                If a container, with 2 inner elements, has horizontal alignment set to space between, if one of the elements has a dropdown, the space between is altered, since it's considering the dropdown as a 3rd item.
            </p>
            <h6 class="h6">
                REPRODUCED IN: AppBuilder Edit &amp; Preview, Blazor and Web Components
            </h6>
            <IgbBadge Variant="BadgeVariant.Success" class="badge" space-between-scope>
                BUG CREATED
            </IgbBadge>
        </div>
    </div>
</div>

@code {
    private IgbButton? _button2;
    private IgbDropdown? _dropdown2;
}
